body {
    font-family: 'Montserrat', sans-serif; 
}
.main-container{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 40px auto;
    background: url(../img/282-2820512_-.jpg);
    background-size: cover;
}
.about-me-profession {
    font-size: 14px;
    font-weight: 700;
    color: #000;
}
.about-me-section {
    
}
.my-projects-section{
    
}
.my-work-experience-section{
    
}
.my-education-section{
    
}
.sidebar-section{
    background-color: #1E2939;
}
.sidebar-text{
    color: #F5F7FA;
    margin: 40px 20px;
}
li:before{
    color:#FB6D3A;
}
